.footer__item__legal__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__legal__titel {
  color: #888888;
  font-size: 14px;
  line-height: 21px;
}

.footer__item__legal__list__link {
  color: #c0c0c0;
  font-size: 13px;
  line-height: 21px;
  font-weight: 300;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #c31b30;
  }
}
