.promotion__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.card__time {
  color: #888888;
  font-size: 1rem;
  line-height: 24px;
}

.promotion__card__titel {
  color: #fff;
  font-size: 1.5rem;
  line-height: 32px;
  transition: color 0.2s ease-in-out;
  border-bottom: 1px solid #fff;
  &:hover {
    color: #c31b30;
  }
}

.promotion__card__description {
  font-size: 0.9rem;
  color: #c0c0c0;
  line-height: 24px;
}
