.container {
  max-width: 1900px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #2b2d2f;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 188px;
}

.header__basket {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.header__basket__region {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 14px;
}

.header__basket__clean {
  position: relative;
  padding: 0 16px;

  margin: auto 0;
}

.header__basket__clean::before {
  content: "";
  border-left: 1px solid #44474a;
  padding: 27px 16px;
  height: 64px;
}

.header__basket__clean::after {
  content: "";
  border-right: 1px solid #44474a;
  padding: 27px 16px;
}

.header__basket__cart__link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 14px;
}

.header__nav-btn {
  display: none;
}

@media (max-width: 1367px) {
  .navbar__menu {
    gap: 50px;
  }
}

@media (max-width: 1033px) {
  .header__basket {
    display: none;
  }
}
