@font-face {
  font-family: "Montserrat Alternates";
  src: url("./Fonts/MontserratAlternates-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("./Fonts/MontserratAlternates-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("./Fonts/MontserratAlternates-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("./Fonts/MontserratAlternates-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.rolls__titel {
    font-family: "Montserrat Alternates";
    font-weight: 400;
}